
@{
    ViewBag.Title = "Home page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/bundles/chosenStyles")
    @Styles.Render("~/bundles/mainStyles")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">@Html.ActionLink("Cinema Ticket Sales", "Index", "Home")</a>
        <div class="navbar navbar-collapse">
            @Html.Partial("MasterViewPartial")
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/chosen")
</body>
</html>
