@using Microsoft.AspNet.Identity;
@using CinemaTicketSalesSystem.Helpers;
@using System.Security.Claims;


@Html.AntiForgeryToken();
@if (User.IsInRole("Admin"))
{
    var links = NavigationLinkHelper.GetNavigationLinks("Admin");
    <ul class="navbar-nav ml-auto">
        @foreach (var l in links)
        {
            <li class="nav-item">
                @Html.ActionLink(l.Label, l.Method, l.Controller)
            </li>
        }
    </ul>
}
else if (User.IsInRole("Moderator"))
{
    var links = NavigationLinkHelper.GetNavigationLinks("Moderator");
    <ul class="navbar-nav ml-auto">
        @foreach (var l in links)
        {
            <li class="nav-item">
                @Html.ActionLink(l.Label, l.Method, l.Controller)
            </li>
        }
    </ul>
}
else if (User.IsInRole("User"))
{
    var links = NavigationLinkHelper.GetNavigationLinks("User");
    <ul class="navbar-nav ml-auto">
        @foreach (var l in links)
        {
            <li class="nav-item">
                @Html.ActionLink(l.Label, l.Method, l.Controller)
            </li>
        }
    </ul>
}
else
{
    var links = NavigationLinkHelper.GetNavigationLinks("UnAuthorize");
    <ul class="navbar-nav ml-auto">
        @foreach (var l in links)
        {
            <li class="nav-item">
                @Html.ActionLink(l.Label, l.Method, l.Controller)
            </li>
        }
    </ul>
}

