@model CinemaTicketSalesSystem.Models.CreateMovieViewModel
@{
    ViewBag.Title = "CreateNewMovie";
    Layout = "~/Views/Shared/MasterView.cshtml";
}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/start/jquery-ui.css">
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />

@using (Html.BeginForm("CreateNewMovie", "EditMovie", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div>
    <h4>Create new movie</h4>
    <hr />
    @Html.ValidationSummary(false)

    <div>
        Movie name:
        <div>
            @Html.EditorFor(model => model.Name)
        </div>
    </div>

    <div>
        Description:
        <div>
            @Html.EditorFor(model => model.Description)
        </div>
    </div>

    <div>
        Age rating:
        <div>
            @Html.EditorFor(model => model.AgeRating)
        </div>
    </div>

    <div>
        Date of premiere:
        <div>
            @Html.EditorFor(model => model.DateOfPremiere)
        </div>
    </div>

    <div>
        Genre:
        <div>

        </div>
    </div>

    <div>
        <div>
            <label for="picture">Upload Image:</label>
            <input type="file" name="picture" id="picture" />
        </div>
    </div>

    <div>
        <div>
            <input type="submit" value="Save" class="submit" />
        </div>
    </div>

    <div>
        <div>
            @Html.ActionLink("Add Actors", "Actors", "EditActors")
        </div>
    </div>

    <div>
        <div>
            @Html.ActionLink("Add Producers", "Producer", "EditProducer")
        </div>
    </div>
</div>
}

